xml-resources/web-service-references/MyWebService/wsdl/localhost_8080/SOAPServer/MyWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://fideltas.cr.ac/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://fideltas.cr.ac/" name="MyWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://fideltas.cr.ac/" schemaLocation="http://localhost:8080/SOAPServer/MyWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="USD_CRC">
<part name="parameters" element="tns:USD_CRC"/>
</message>
<message name="USD_CRCResponse">
<part name="parameters" element="tns:USD_CRCResponse"/>
</message>
<message name="CRC_USD">
<part name="parameters" element="tns:CRC_USD"/>
</message>
<message name="CRC_USDResponse">
<part name="parameters" element="tns:CRC_USDResponse"/>
</message>
<portType name="MyWebService">
<operation name="hello">
<input wsam:Action="http://fideltas.cr.ac/MyWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://fideltas.cr.ac/MyWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="USD_CRC">
<input wsam:Action="http://fideltas.cr.ac/MyWebService/USD_CRCRequest" message="tns:USD_CRC"/>
<output wsam:Action="http://fideltas.cr.ac/MyWebService/USD_CRCResponse" message="tns:USD_CRCResponse"/>
</operation>
<operation name="CRC_USD">
<input wsam:Action="http://fideltas.cr.ac/MyWebService/CRC_USDRequest" message="tns:CRC_USD"/>
<output wsam:Action="http://fideltas.cr.ac/MyWebService/CRC_USDResponse" message="tns:CRC_USDResponse"/>
</operation>
</portType>
<binding name="MyWebServicePortBinding" type="tns:MyWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="USD_CRC">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CRC_USD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MyWebService">
<port name="MyWebServicePort" binding="tns:MyWebServicePortBinding">
<soap:address location="http://localhost:8080/SOAPServer/MyWebService"/>
</port>
</service>
</definitions>